<p>variables works!</p>

<pre>
    <!-- scope variables-->
    <!-- one way data binding-->
    a :: {{a}}
    b :: {{b}}

    {{fname}}
    {{age}}
    {{fruits}}
    {{fruits[1]}}

    {{user | json}}
    {{user.name}}

    {{gender}}
    ++{{interest}}
    --{{undefined}}

    <!-- expressions -->

    a + b :: {{a+b}}
    a - b :: {{a-b}}
    a * b :: {{a*b}}
    a / b :: {{a/b}}
    a % b :: {{a%b}}

    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}




</pre>