<p>pipes works!</p>

<pre>
    {{fname}}
    {{fname | uppercase}}
    {{fname | lowercase}}
    {{fname | slice:2:6}}


    {{age}}
    {{age | number}}
    {{age | percent}}
    {{age | currency}}
    {{age | currency:'INR'}}
    {{age | currency:'kanishk '}}
    {{age | currency:'INR '}}

    {{age |hexa}}
    {{15 | hexa}}
    {{255 | hexa}}

    {{ 5 | paramssssssssssssssssssssss:2:3:4:1}}

    {{100 | rupee | currency:'INR' }}
    {{user}}
    {{user | json}}


    {{today}}
    {{today | date}}
    {{today | date:'dd-MM-yy'}}




</pre>
