<p>variables works!</p>


<pre>
    <!-- one way data binding : binding/showing the data/variable-values in the html-->
    <!-- expression -->
    <!-- string interpolation -->
    <!-- scope variables-->
    a :: {{a}}
    b :: {{b}}


    {{fname}}
    {{age}}
    {{fruits}}
    {{fruits[1]}}


    {{user | json}}
    {{user.exp}}
    
    {{gender}}
    ** {{interest}}
    ** {{undf}}

    <!-- this is called as expression-->
    a+b :: {{a+b}}
    a-b :: {{a-b}}
    a*b :: {{a*b}}
    a/b :: {{a/b}}
    a%b :: {{a%b}}

    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}

    2+'3' :: {{2+'3'}}
    a+c :: {{a+c}}

    ternary :: {{gender ? 'yes' : 'no'}}














</pre>